@font-face {
    font-family: 'franklin_gothic_fsdemi';
    src: url('../font/franklingothic-demi-webfont.eot');
    src: url('../font/franklingothic-demi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/franklingothic-demi-webfont.woff2') format('woff2'),
         url('../font/franklingothic-demi-webfont.woff') format('woff'),
         url('../font/franklingothic-demi-webfont.ttf') format('truetype'),
         url('../font/franklingothic-demi-webfont.svg#franklin_gothic_fsdemi') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'franklin_gothic_fsdemi_italic';
    src: url('../font/franklingothic-demiit-webfont.eot');
    src: url('../font/franklingothic-demiit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/franklingothic-demiit-webfont.woff2') format('woff2'),
         url('../font/franklingothic-demiit-webfont.woff') format('woff'),
         url('../font/franklingothic-demiit-webfont.ttf') format('truetype'),
         url('../font/franklingothic-demiit-webfont.svg#franklin_gothic_fsdemi_italic') format('svg');
    font-weight: 700;
    font-style: italic;

}
@font-face {
    font-family: 'franklin_gothic_fsbook';
    src: url('../font/franklingothic-book-webfont.eot');
    src: url('../font/franklingothic-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/franklingothic-book-webfont.woff2') format('woff2'),
         url('../font/franklingothic-book-webfont.woff') format('woff'),
         url('../font/franklingothic-book-webfont.ttf') format('truetype'),
         url('../font/franklingothic-book-webfont.svg#franklin_gothic_fsbook') format('svg');
    font-weight: normal;
    font-style: normal;
}